<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
  
  <section>
  
   <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:270px" class="col-md-12">
                        
                        
                        <form id="login-form" class="form" action="#" th:action="@{/changeTo-newpassword}" method="post">
                           <h4 class="text-center mt-4">Enter New Password</h4>
                           <div class="form-group mt-3">
                           
                           <input required type="password" name="newpassword" placeholder="Enter New Password" class="form-control">
                           
                           </div>
                           <div class="container text-center mt-3">
                           
                           <button class="btn btn-primary">Change Password</button>
                           
                           </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </section>
</body>
</html>