<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
  
  <section>
    
    <div class="card mr-4">
    
      <div class="card-body">
      
      <h4 class="text-center">Add Contact</h4>
      
      <div class="container-fluid mt-1">
      
          <div class="row">
          
          
              <div class="col-md-10 offset-md-1">
              
                  <form action="#" th:object="${contact}" enctype="multipart/form-data"
                  method="post" th:action="@{/user/process-update}" class="mt-2">
                  
                  
                  <input hidden  name="cid" type="text" th:value="${contact.cid}">
                  <!-- -  First Name -->
                  
                  <div class="input-group mt-3">
                  
                  <div class="input-group-prepend">
                  
                  
                  <div class="input-group-text mr-3" style="height:40px">
                  
                      <i class="fa fa-plus"></i>
                  </div>
                  
                  </div>
                  <input required type="text" id="firstname" name="name" th:value="${contact.name}" placeholder="Enter Name here" class="form-control"></input>
                  
                  </div>
                  
                 
                  <!--       Second Name -->
                  
                   <div class="input-group mt-3">
                  
                  <div class="input-group-prepend">
                  
                  
                  <div class="input-group-text mr-3" style="height:40px">
                  
                      <i class="fas fa-user-alt"></i>
                  </div>
                  
                  </div>
                  <input required type="text" id="SecondName"  name="secondName" th:value="${contact.secondName}" placeholder="Enter Second Name here" class="form-control"></input>
                  
                  </div>
                  
                  <!--  phone-->
                  
                   <div class="input-group mt-3">
                  
                  <div class="input-group-prepend">
                  
                  
                  <div class="input-group-text mr-3" style="height:40px">
                  
                      <i class="fa fa-phone"></i>
                  </div>
                  
                  </div>
                  <input required min="10" type="number" id="phone"  name="phone" th:value="${contact.phone}" placeholder="Enter phone No" class="form-control"></input>
                  
                  </div>
                  
                  <!-- Email -->
                  
                   <div class="input-group mt-3">
                  
                  <div class="input-group-prepend">
                  
                  
                  <div class="input-group-text mr-3">
                  
                      @
                  </div>
                  
                  </div>
                  <input required type="text"  name="email"  th:value="${contact.email}" placeholder="Enter Email here" class="form-control"></input>
                  
                  </div>
                  
                  <!-- work -->
                  
                   <div class="input-group mt-3">
                  
                  <div class="input-group-prepend">
                  
                  
                  <div class="input-group-text mr-3" style="height:40px">
                  
                      <i class="fa fa-briefcase"></i>
                  </div>
                  
                  </div>
                  <input required type="text" id="work"  name="work" th:value="${contact.work}" placeholder="Enter work here" class="form-control"></input>
                  
                  </div>
                  
                  <!-- Description -->
                  
                  <div class="form-group mt-3">
                  
                  
                  <textarea required name="description" id="desc" th:text="${contact.description}"  placeholder="Enter Contact Description" class="form-control" rows="10"></textarea>
                  
                  
                  </div>
                  
                  <!-- contact Image -->
                  
                  <div class="container text-center">
                  
                  <img style="width:100px;height:100px" th:src="@{'/img/'+${contact.image}}" alt="Profile"></img>
                  
                  </div>
                  
                  <div class="custom-file mt-2">
                  
                  <input type="file" name="profile">
                  
                  </div>
                  
                  <div class="container text-center">
                  <button class="btn btn-primary">Update Contact</button>
                  
                  </div>
                  
                  </form>
              
              </div>
          
          </div>
      
      
      
      </div>
      
      
      </div>
    
    
    </div>
    
   
    
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
      tinymce.init({
        selector: "#desc"
      });
    </script>
    
    
     
  
  </section>
</body>
</html>